
<div class="row">

	<h1 class="text-center login-title">Sign in to continue</h1>


	<form class="form-signin" method="post" action="/login/">
		{%csrf_token%}
		 <input type="text" placeholder="username" name="username">
		<input type="password" placeholder="password" name="password"> 
		<input type="submit" name="submit" value="signin" />
	</form>
</div>
<a href="/registration" >Create an account </a>

<p><a href="/tasks" >to display all tasks  </a></p>

<p><a href="/tasks/filter" >to display  tasks filtered by accessibillity </a></p>